@model LaboraTechDapperCoreMVCLayer.Models.About


<div class="container-fluid py-5">
	<div class="about-section-bg">
		<div class="container py-5">
			<div class="row g-5 align-items-stretch">
				<!-- Left Card -->
				<div class="col-lg-6 wow animate__animated animate__fadeInLeft" data-aos="fade-right" data-aos-duration="1000">
					<div class="frosted-about-card h-100 p-4 d-flex flex-column justify-content-between">
						<div class="row g-3">
							<div class="col-6 about-image-circle">
								<img src="@Model.ImageUrl1" class="img-fluid" />
							</div>
							<div class="col-6 about-image-circle">
								<img src="@Model.ImageUrl2" class="img-fluid" />
							</div>
							<div class="col-6 about-image-circle">
								<img src="@Model.ImageUrl3" class="img-fluid" />
							</div>
							<div class="col-6">
								<div class="animated-experience-box h-100 d-flex flex-column justify-content-center">
									<i class="bi bi-award fs-1 mb-2"></i>
									<h1 class="display-4 mb-0" data-toggle="counter-up">@Model.ExperienceYear</h1>
									<small class="fs-6">Years Experience</small>
								</div>
							</div>
						</div>

						<div class="d-flex justify-content-center mt-4">
							<a class="custom-btn custom-update extended-btn" href="/About/Update/@Model.AboutId">
								<i class="bi bi-pencil me-2"></i> Update
							</a>
						</div>
					</div>
				</div>

				<!-- Right Card -->
				<div class="col-lg-6 wow animate__animated animate__fadeInRight" data-aos="fade-left" data-aos-duration="1000">
					<div class="frosted-about-card h-100 p-4 d-flex flex-column justify-content-center">
						<h1 class="display-6 mb-4">@Model.Title</h1>
						<p class="mb-4">@Model.ShortDescription</p>

						<div class="row g-4">
							<div class="col-sm-6">
								<div class="about-fact btn-square flex-column rounded-circle bg-primary mx-auto">
									<p class="text-white mb-0">Team Member</p>
									<h1 class="text-white mb-0" data-toggle="counter-up">@ViewBag.TeamCount</h1>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="about-fact btn-square flex-column rounded-circle bg-secondary mx-auto">
									<p class="text-white mb-0">Complete Cases</p>
									<h1 class="text-white mb-0" data-toggle="counter-up">@Model.CompleteCases</h1>
								</div>
							</div>
							<div class="col-sm-6 mx-auto">
								<div class="about-fact mt-n130 btn-square flex-column rounded-circle bg-dark mx-auto">
									<p class="text-white mb-0">Happy Clients</p>
									<h1 class="text-white mb-0" data-toggle="counter-up">@ViewBag.TestimonialCount</h1>
								</div>
							</div>
						</div>

					</div>
				</div> <!-- End right column -->
			</div>
		</div>
	</div>
</div>
